<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link href="styles/style.css" rel="stylesheet">
</head>
<body>
    <div class="header">
        <h1 style="display:inline;"><a id="headerTitle" href="/library">Library</a></h1>
        <div id="logOut"><form action="/logout" method="POST"><input type="hidden" name="logOutButton" value=""><button type="submit">Log out</button></form></div>
    </div>
    <div id="add_container" class="container" style="border-radius: 1%;">
        <h1 class="glow">Search for a book</h1>
        <div id="search">
            <form action="/search" class="form" method="POST">
                <input type="text" id="SearchToAdd" name="word" placeholder="Search for a book here" autofocus autocomplete="off">
                <button type="submit" class="button2"><svg id="icon"  width="25" height="25" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                </svg></button>
            </form>
        </div>
        <% if (locals.booksON){%>
        <div id="bookInfo">
            <div ><img src= '<%= image %>' style="width:20%;"></div>
            <div><%= author %></div>
            <div><%= bookTitle %></div>
            <div>First published year: <%= year %></div>
        </div>
        <form action="/bookshelf" class="form" method="POST">
            <span class="rate">
                <span>Your rating: </span>
                <input type="hidden" name="rating" id="ratingValue" value="">
                <i onclick="gfg(1)" class="star oneStar">★</i>
                <i onclick="gfg(2)" class="star">★</i>
                <i onclick="gfg(3)" class="star">★</i>
                <i onclick="gfg(4)" class="star">★</i>
                <i onclick="gfg(5)" class="star">★</i>
            </span>
            <textarea id="addReview" name="review" rows="4" cols="50" maxlength="2000" placeholder="Type a review!" onclick="show()" onkeyup="count()"></textarea>
            <div class="counter" id="wordCount" hidden>
                <span id="current_count"></span>
                <span id="maximum_count" hidden>/ 2000</span>
            </div>
            <button id="submitButton" type="submit">Add it on the shelf!</button>
        </form>
        <%}%>
        <% if (locals.warning1ON){%>
            <h2>Book is already on the shelf!</h2>
        <%} else if (locals.warning2ON){%>
            <h2 id="warning">Book not found, please try again!</h2>
        <%}%>
    </div>
    <%- include("partials/footer.ejs") %>
    
    <script>
        function show(){
            document.getElementById("wordCount").removeAttribute("hidden");
        };
        function count(){
            let text= document.getElementById("addReview");
            let characterCount = text.value.length;
            document.getElementById("current_count").innerHTML= characterCount;
            document.getElementById("maximum_count").removeAttribute("hidden");
        };

        let stars = document.getElementsByClassName("star");
        document.querySelector('#ratingValue').value = 1;
        function gfg(n) {
            remove();
            for (let i = 1; i < n; i++) {
                if (n == 2){
                    document.querySelector('#ratingValue').value= 2;
                } else if (n == 3){
                    document.querySelector('#ratingValue').value = 3;
                } else if (n == 4){
                    document.querySelector('#ratingValue').value = 4;
                } else if (n == 5){
                    document.querySelector('#ratingValue').value = 5;
                }
                stars[i].classList.add("oneStar");
            }
            };
        function remove() {
            let i = 1;
            while (i < 5) {
                stars[i].className = "star";
                i++;
            }
        };
    </script>
</body>
</html>