<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link href="styles/style.css" rel="stylesheet">
</head>
<body>
    <h1 class="header"><a id="headerTitle" href="/">Library</a></h1>
    <div class="container">
        <h1 class="glow">Welcome To Your Personal Library!</h1><br>
        <form action="/add" class="form" method="POST">
            <button type="submit" class="button-89">Add a book</button>
        </form>
    </div>
        <% if (!(locals.listItems.length === 0)){%>
            <div id="bookshelf">
                <h2>Bookshelf</h2>
                <p>Total books: <%=listItems.length%></p>
                <% for (let item of listItems){%>
                <div id="content">
                    <div id="image"><img src= '<%= item.image %>'></div>
                    <div id="title"><h3><%= item.book_name %></h3><p>Author: <%= item.author %> <br> First published year: <%= item.publish_year %> </p></div>
                    <div id="review"><h3>Review:</h3>
                        <p id="title<%=item.id%>">
                            <%= item.review %>
                          </p>
                        <form  id= "edit" action="/edit" method="post">
                            <input type="hidden" name="updatedItemId" value="<%= item.id %>">
                            <textarea id="input<%= item.id %>" name="updatedItemReview" rows="4" cols="50" maxlength="2000" autocomplete="off" onclick="show('<%=item.id%>')" onkeyup="count('<%=item.id%>')" hidden><%= item.review %></textarea>  
                            <div class="counter" id="count<%= item.id %>" hidden>
                                <span id="current_count<%= item.id %>"></span>
                                <span id="maximum_count<%= item.id %>" hidden>/ 2000</span>
                            </div>
                            <button id="done<%=item.id%>" class="edit_buttons" type="submit"  hidden><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                            <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
                            </svg></button>                        
                        </form>
                        <button id="edit<%=item.id%>" class="edit_buttons" onclick="handler('<%=item.id%>')"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                          </svg></button>
                          <form action="/delete" method="post">
                            <input type="hidden" name="deletedItemId" value="<%= item.id %>">
                            <button id="delete<%=item.id%>" class="delete_button"  name="deleteItemId" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                              </svg></button>
                          </form>
                    </div>
                </div>
                <%}%>
            </div>
        <%}%>
    </div>
    <div class="btnScrollToTop" data-scroll="up" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
      </svg></div>
    <%- include("partials/footer.ejs") %>

    <script>
        function handler(id) {
        document.getElementById("title" + id).setAttribute("hidden", true)
        document.getElementById("edit" + id).setAttribute("hidden", true)
        document.getElementById("done" + id).removeAttribute("hidden")
        document.getElementById("input" + id).removeAttribute("hidden")
        document.getElementById("count" + id).removeAttribute("hidden")
        }
        function show(id){
            let text= document.getElementById("input" + id);
            var characterCount = text.value.length;
            document.getElementById("current_count"+id).innerHTML= characterCount;
            document.getElementById("maximum_count" + id).removeAttribute("hidden")
        }
        function count(id){
            let text= document.getElementById("input" + id);
            var characterCount = text.value.length;
            document.getElementById("current_count"+id).innerHTML= characterCount;
        }
        const btnScrollToTop = document.querySelector(".btnScrollToTop");

        // scroll to top of page when button clicked
        btnScrollToTop.addEventListener("click", e => {
        window.scrollTo({
            top: 0,
            left: 0,
            behavior: "smooth"
        });
        });

        // toggle 'scroll to top' based on scroll position
        window.addEventListener('scroll', e => {
        btnScrollToTop.style.display = window.scrollY > 20 ? 'block' : 'none';
        });
    </script>
</body>
</html>