<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link href="styles/style.css" rel="stylesheet">
</head>
<body >
    <div class="header">
        <h1 style="display:inline;"><a id="headerTitle" href="/library">Library</a></h1>
        <div id="logOut"><form action="/logout" method="POST"><input type="hidden" name="logOutButton" value=""><button type="submit" class="btn btn-dark">Log out</button></form></div>
    </div>
    <div class="container">
        <h1 class="glow">Hello <%= username %>!</h1><br>
        <form action="/add" class="form" method="POST">
            <button type="submit" class="button-89">Add a book</button>
        </form>
    </div>
        <% if (!(locals.listItems.length === 0)){%>
            <div id="bookshelf">
                <div id="bookshelf-header">
                    <h2>Bookshelf</h2>
                    <input type="text" id="mySearch" onkeyup="searchFunction()" placeholder="Search by title, author or year..." title="Type in a name">
                    
                    <div class="dropdown">
                        <button class="dropbtn" >Sort by: <%=sort%> <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-sort-down-alt" viewBox="0 0 16 16">
                            <path d="M3.5 3.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 12.293zm4 .5a.5.5 0 0 1 0-1h1a.5.5 0 0 1 0 1zm0 3a.5.5 0 0 1 0-1h3a.5.5 0 0 1 0 1zm0 3a.5.5 0 0 1 0-1h5a.5.5 0 0 1 0 1zM7 12.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5"/>
                          </svg></button>
                        <div class="dropdown-content">
                            <form  class= "sort" action="/sort" method="post">
                                <input type="hidden" name="sort" value="newest">
                                <button class="sortBy" type="submit" >Newest</button>                        
                            </form>
                            <form  class= "sort" action="/sort" method="post">
                                <input type="hidden" name="sort" value="oldest">
                                <button class="sortBy" type="submit" >Oldest</button>                        
                            </form>
                        </div>
                    </div>
                </div>
                <p>Total books: <%=listItems.length%></p>
                
                <% listItems.forEach((item)=>{%>
                <div class="content">
                    <% if (item.image.indexOf("undefined") > -1){%>
                        <div class="cover-image" style='color:white; font-family: "Work Sans", sans-serif; border: 1px solid aliceblue; margin:5%; text-align: center; display:flex; flex-direction:column; justify-content: center;'>No cover available</div>
                    <%}else{%>
                        <div class="cover-image"><img src= '<%= item.image %>'></div>
                    <%}%>
                    <div ><h3 class="bookNameYear"><%= item.book_name %> (<%= item.publish_year %>)</h3><p class="bookAuthor"><%= item.author %></div>
                    <div class="review"><h3>Review:</h3>
                        <% if (item.rating == 1){%>
                            <span class="index-rating" id="index-rating<%=item.id%>">
                                <i class="star oneStar">★</i>
                                <i class="star">★</i>
                                <i class="star">★</i>
                                <i class="star">★</i>
                                <i class="star">★</i>
                            </span>
                        <%}else if (item.rating == 2){%>
                            <span  class="index-rating" id="index-rating<%=item.id%>">
                                <i class="star oneStar">★</i>
                                <i class="star oneStar">★</i>
                                <i class="star">★</i>
                                <i class="star">★</i>
                                <i class="star">★</i>
                            </span>
                        <%}else if (item.rating == 3){%>
                            <span class="index-rating" id="index-rating<%=item.id%>">
                                <i class="star oneStar">★</i>
                                <i class="star oneStar">★</i>
                                <i class="star oneStar">★</i>
                                <i class="star">★</i>
                                <i class="star">★</i>
                            </span>
                        <%}else if (item.rating == 4){%>
                            <span class="index-rating" id="index-rating<%=item.id%>">
                                <i class="star oneStar">★</i>
                                <i class="star oneStar">★</i>
                                <i class="star oneStar">★</i>
                                <i class="star oneStar">★</i>
                                <i class="star">★</i>
                            </span>
                        <%}else if (item.rating == 5){%>
                            <span class="index-rating" id="index-rating<%=item.id%>">
                                <i class="star oneStar">★</i>
                                <i class="star oneStar">★</i>
                                <i class="star oneStar">★</i>
                                <i class="star oneStar">★</i>
                                <i class="star oneStar">★</i>
                            </span>
                        <%}%>
                        <p id="title<%=item.id%>">
                            <%= item.review %>
                        </p>
                        <form class= "edit" action="/edit" id="form<%= item.id %>" method="post">
                            <input type="hidden" name="updatedItemId" id="updItemId" value="<%= item.id %>">
                            <span class="rate" id="rate<%= item.id %>" hidden>
                                <input type="hidden" name="rating" id="NewRatingValue<%= item.id %>" value="">
                                <i onclick="gfg(1, '<%= item.id %>')"  class="star<%= item.id %> oneStar" >★</i>
                                <i onclick="gfg(2, '<%= item.id %>')"  class="star<%= item.id %>" >★</i>
                                <i onclick="gfg(3, '<%= item.id %>')"  class="star<%= item.id %>" >★</i>
                                <i onclick="gfg(4, '<%= item.id %>')"  class="star<%= item.id %>" >★</i>
                                <i onclick="gfg(5, '<%= item.id %>')"  class="star<%= item.id %>" >★</i>
                            </span>
                            <textarea id="input<%= item.id %>" name="updatedItemReview" rows="4" cols="50" maxlength="2000" autocomplete="off" onclick="show('<%=item.id%>')" onkeyup="count('<%=item.id%>')" hidden><%= item.review %></textarea>  
                            <div class="counter" id="count<%= item.id %>" hidden>
                                <span id="current_count<%= item.id %>"></span>
                                <span id="maximum_count<%= item.id %>" hidden>/ 2000</span>
                            </div>
                            <button id="done<%=item.id%>" class="edit_buttons" type="submit"  hidden><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                            <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
                            </svg></button>                        
                        </form>
                        <button id="edit<%=item.id%>" class="edit_buttons" onclick="handler('<%=item.id%>')"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                          </svg></button>
                          <form  class= "edit" action="/delete" method="post">
                            <input type="hidden" name="deletedItemId" value="<%= item.id %>">
                            <button id="delete<%=item.id%>" class="delete_button"  name="deleteItemId" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                              </svg></button>
                          </form>
                    </div>
                </div>
                <%})%>
            </div>
        <%}%>
    <div class="btnScrollToTop" data-scroll="up" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
      </svg></div>
    <%- include("partials/footer.ejs") %>

    <script>
        let rating
        function handler(id) {
        document.getElementById("title" + id).setAttribute("hidden", true)
        document.getElementById("edit" + id).setAttribute("hidden", true)
        document.getElementById("done" + id).removeAttribute("hidden")
        document.getElementById("input" + id).removeAttribute("hidden")
        document.getElementById("count" + id).removeAttribute("hidden")
        document.getElementById("index-rating" + id).setAttribute("hidden", true)
        document.getElementById("rate" + id).removeAttribute("hidden")
        document.querySelector('#NewRatingValue'+id).value = 1;
        }

        function show(id){
            let text= document.getElementById("input" + id);
            var characterCount = text.value.length;
            document.getElementById("current_count"+id).innerHTML= characterCount;
            document.getElementById("maximum_count" + id).removeAttribute("hidden")
        }

        function count(id){
            let text= document.getElementById("input" + id);
            var characterCount = text.value.length;
            document.getElementById("current_count"+id).innerHTML= characterCount;
        }

        const btnScrollToTop = document.querySelector(".btnScrollToTop");
        // scroll to top of page when button clicked
        btnScrollToTop.addEventListener("click", e => {
        window.scrollTo({
            top: 0,
            left: 0,
            behavior: "smooth"
        })});
        // toggle 'scroll to top' based on scroll position
        window.addEventListener('scroll', e => {
        btnScrollToTop.style.display = window.scrollY > 20 ? 'block' : 'none';
        });

        function gfg(n, id) {
            let stars = document.querySelectorAll(".star"+id);
            remove(stars);
            for (let i = 1; i < n; i++) {
                if (n == 2){
                    document.querySelector('#NewRatingValue'+id).value = 2;
                } else if (n == 3){
                    document.querySelector('#NewRatingValue'+id).value = 3;
                } else if (n == 4){
                    document.querySelector('#NewRatingValue'+id).value = 4;
                } else if (n == 5){
                    document.querySelector('#NewRatingValue'+id).value = 5;
                }
                stars[i].classList.add("oneStar");
            }
        };

        function remove(stars) {
            let i = 1;
            while (i < 5) {
                stars[i].classList.remove("oneStar");
                i++;
            }
        };
        function searchFunction() {
            let input, filter, nodes, titles;
            input = document.getElementById("mySearch");
            filter = input.value.toLowerCase();
            nodes = document.getElementsByClassName("content");
            titles = document.getElementsByClassName("bookNameYear");
            author = document.getElementsByClassName("bookAuthor");
            for (i = 0; i < nodes.length; i++) {
                if (titles[i].innerText.toLowerCase().includes(filter) || author[i].innerText.toLowerCase().includes(filter)) {
                    nodes[i].style.display = "";
                } else {
                    nodes[i].style.display = "none";
                }
            }
        }
    </script>
</body>
</html>